# 前処理大全 R版

## はじめに
- 初めに以下のセルを実行してください
- 必要なライブラリのインポートとデータベース（PostgreSQL）からのデータ読み込みを行います
- 利用が想定されるライブラリは以下セルでインポートしています
- その他利用したいライブラリがあればinstall.packages()で適宜インストールしてください
- 名前、住所等はダミーデータであり、実在するものではありません

In [1]:
require("RPostgreSQL")
require("tidyr")
require("dplyr")
require("stringr")
require("caret")
require("lubridate")
require("rsample")
require("recipes")
require("themis")

host <- "db"
port <- Sys.getenv()["PG_PORT"]
dbname <- Sys.getenv()["PG_DATABASE"]
user <- Sys.getenv()["PG_USER"]
password <- Sys.getenv()["PG_PASSWORD"]

con <- dbConnect(PostgreSQL(), host=host, port=port, dbname=dbname, user=user, password=password)
df_customer <- dbGetQuery(con,"SELECT * FROM customer_tb")
df_hotel <- dbGetQuery(con,"SELECT * FROM hotel_tb")
df_reserve <- dbGetQuery(con,"SELECT * FROM reserve_tb")

Loading required package: RPostgreSQL

Loading required package: DBI

Loading required package: tidyr

Loading required package: dplyr


Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Loading required package: stringr

Loading required package: caret

Loading required package: ggplot2

Loading required package: lattice

Loading required package: lubridate


Attaching package: ‘lubridate’


The following objects are masked from ‘package:base’:

    date, intersect, setdiff, union


Loading required package: rsample

Loading required package: recipes


Attaching package: ‘recipes’


The following object is masked from ‘package:stringr’:

    fixed


The following object is masked from ‘package:stats’:

    step


Loading required package: themis

Registered S3 methods overwritten by 'themis':
  method                  from
  bake.step_downsample    recipes
  bake.step_upsample      recipes
  prep.step_downsample    recipes
  prep.step_upsample      recipes
  tidy.step_downsample    recipes
  tidy.step_upsample      recipes
  tunable.step_downsample recipes
  tunable.step_upsample   recipes


Attaching package: ‘themis’


The following objects are masked from ‘package:recipes’:

    step_downsample, step_upsample

# 演習問題

---
> サンプル

In [2]:
head(df_reserve, n = 10)

   reserve_id hotel_id customer_id reserve_datetime    checkin_date
1  r1         h_75     c_1         2016-03-06 13:09:42 2016-03-26
2  r2         h_219    c_1         2016-07-16 23:39:55 2016-07-20
3  r3         h_179    c_1         2016-09-24 10:03:17 2016-10-19
4  r4         h_214    c_1         2017-03-08 03:20:10 2017-03-29
5  r5         h_16     c_1         2017-09-05 19:50:37 2017-09-22
6  r6         h_241    c_1         2017-11-27 18:47:05 2017-12-04
7  r7         h_256    c_1         2017-12-29 10:38:36 2018-01-25
8  r8         h_241    c_1         2018-05-26 08:42:51 2018-06-08
9  r9         h_217    c_2         2016-03-05 13:31:06 2016-03-25
10 r10        h_240    c_2         2016-06-25 09:12:22 2016-07-14
   checkin_time checkout_date people_num total_price
1  10:00:00     2016-03-29    4           97200
2  11:30:00     2016-07-21    2           20600
3  09:00:00     2016-10-22    2           33600
4  11:00:00     2017-03-30    4          194400
5  10:30:00     2017-09-23    3           68100
6  12:00:00     2017-12-06    3           36000
7  10:30:00     2018-01-28    1          103500
8  10:00:00     2018-06-09    1            6000
9  09:30:00     2016-03-27    3           68400
10 11:00:00     2016-07-17    4          320400