# SQL試行用サンドボックス

## はじめに
- データベースはPostgreSQL13です
- 初めに以下のセルを実行してください
- セルに %%sql と記載することでSQLを発行することができます
- jupyterからはdescribeコマンドによるテーブル構造の確認ができないため、テーブル構造を確認する場合はlimitを指定したSELECTなどで代用してください
- 使い慣れたSQLクライアントを使っても問題ありません（接続情報は以下の通り）
  - IPアドレス：Docker Desktopの場合はlocalhost、Docker toolboxの場合は192.168.99.100
  - Port:5432
  - database名: dsdojo_db
  - ユーザ名：padawan
  - パスワード:padawan12345
- 大量出力を行うとJupyterが固まることがあるため、出力件数は制限することを推奨します（設問にも出力件数を記載）
    - 結果確認のために表示させる量を適切にコントロールし、作業を軽快にすすめる技術もデータ加工には求められます
- 大量結果が出力された場合は、ファイルが重くなり以降開けなくなることもあります
    - その場合、作業結果は消えますがファイルをGitHubから取り直してください
    - vimエディタなどで大量出力範囲を削除することもできます
- 名前、住所等はダミーデータであり、実在するものではありません

In [1]:
%load_ext sql
import os

pgconfig = {
    'host': 'db',
    'port': os.environ['PG_PORT'],
    'database': os.environ['PG_DATABASE'],
    'user': os.environ['PG_USER'],
    'password': os.environ['PG_PASSWORD'],
}
dsl = 'postgresql://{user}:{password}@{host}:{port}/{database}'.format(**pgconfig)

# MagicコマンドでSQLを書くための設定
%sql $dsl

'Connected: padawan@dsdojo_db'

# 演習問題

---
> サンプル

In [4]:
%%sql
SELECT
    *
FROM reserve_tb
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('r1', 'h_75', 'c_1', datetime.datetime(2016, 3, 6, 13, 9, 42), datetime.date(2016, 3, 26), '10:00:00', datetime.date(2016, 3, 29), 4, 97200),
 ('r2', 'h_219', 'c_1', datetime.datetime(2016, 7, 16, 23, 39, 55), datetime.date(2016, 7, 20), '11:30:00', datetime.date(2016, 7, 21), 2, 20600),
 ('r3', 'h_179', 'c_1', datetime.datetime(2016, 9, 24, 10, 3, 17), datetime.date(2016, 10, 19), '09:00:00', datetime.date(2016, 10, 22), 2, 33600),
 ('r4', 'h_214', 'c_1', datetime.datetime(2017, 3, 8, 3, 20, 10), datetime.date(2017, 3, 29), '11:00:00', datetime.date(2017, 3, 30), 4, 194400),
 ('r5', 'h_16', 'c_1', datetime.datetime(2017, 9, 5, 19, 50, 37), datetime.date(2017, 9, 22), '10:30:00', datetime.date(2017, 9, 23), 3, 68100),
 ('r6', 'h_241', 'c_1', datetime.datetime(2017, 11, 27, 18, 47, 5), datetime.date(2017, 12, 4), '12:00:00', datetime.date(2017, 12, 6), 3, 36000),
 ('r7', 'h_256', 'c_1', datetime.datetime(2017, 12, 29, 10, 38, 36), datetime.date(2018, 1, 25), '10:30:00', datetime.date(2018, 1, 28), 1, 103500),
 ('r8', 'h_241', 'c_1', datetime.datetime(2018, 5, 26, 8, 42, 51), datetime.date(2018, 6, 8), '10:00:00', datetime.date(2018, 6, 9), 1, 6000),
 ('r9', 'h_217', 'c_2', datetime.datetime(2016, 3, 5, 13, 31, 6), datetime.date(2016, 3, 25), '09:30:00', datetime.date(2016, 3, 27), 3, 68400),
 ('r10', 'h_240', 'c_2', datetime.datetime(2016, 6, 25, 9, 12, 22), datetime.date(2016, 7, 14), '11:00:00', datetime.date(2016, 7, 17), 4, 320400)]

In [6]:
%%sql
SELECT
    *
FROM hotel_tb
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('h_1', 26100, 'D', 'D-2', 43.06456855822263, 141.51139666434983, True),
 ('h_2', 26400, 'A', 'A-1', 35.71531970202519, 139.93944644588987, True),
 ('h_3', 41300, 'E', 'E-4', 35.28157168065808, 136.98856536061078, False),
 ('h_4', 5200, 'C', 'C-3', 38.43129309709185, 140.79561484434421, False),
 ('h_5', 13500, 'G', 'G-3', 33.597291462214194, 130.5338715811148, True),
 ('h_6', 49500, 'A', 'A-3', 35.912763699782325, 139.73128106597213, True),
 ('h_7', 18900, 'C', 'C-2', 38.32870158964997, 140.89496934194355, False),
 ('h_8', 12400, 'B', 'B-2', 35.543318290612, 139.7987370494236, False),
 ('h_9', 31400, 'C', 'C-1', 38.232673596731956, 140.79569303443034, False),
 ('h_10', 5600, 'A', 'A-3', 35.91387423929255, 139.93100303561386, False)]

### JOIN

- 単純なJOIN(==INNER JOIN)
- INNER JOINはお互いマッチするやつしか残さない。

In [30]:
%%sql
SELECT *
FROM reserve_tb
JOIN hotel_tb ON reserve_tb.hotel_id = hotel_tb.hotel_id
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('r1', 'h_75', 'c_1', datetime.datetime(2016, 3, 6, 13, 9, 42), datetime.date(2016, 3, 26), '10:00:00', datetime.date(2016, 3, 29), 4, 97200, 'h_75', 8100, 'B', 'B-2', 35.54586020010928, 139.70121711838777, False),
 ('r2', 'h_219', 'c_1', datetime.datetime(2016, 7, 16, 23, 39, 55), datetime.date(2016, 7, 20), '11:30:00', datetime.date(2016, 7, 21), 2, 20600, 'h_219', 10300, 'B', 'B-3', 35.64472936123362, 139.6933889258853, True),
 ('r3', 'h_179', 'c_1', datetime.datetime(2016, 9, 24, 10, 3, 17), datetime.date(2016, 10, 19), '09:00:00', datetime.date(2016, 10, 22), 2, 33600, 'h_179', 5600, 'G', 'G-4', 33.599961904114444, 130.63201906517207, False),
 ('r4', 'h_214', 'c_1', datetime.datetime(2017, 3, 8, 3, 20, 10), datetime.date(2017, 3, 29), '11:00:00', datetime.date(2017, 3, 30), 4, 194400, 'h_214', 48600, 'C', 'C-2', 38.33399424275985, 140.79183603507371, False),
 ('r5', 'h_16', 'c_1', datetime.datetime(2017, 9, 5, 19, 50, 37), datetime.date(2017, 9, 22), '10:30:00', datetime.date(2017, 9, 23), 3, 68100, 'h_16', 22700, 'A', 'A-3', 35.911392792694706, 139.93251080375714, False),
 ('r6', 'h_241', 'c_1', datetime.datetime(2017, 11, 27, 18, 47, 5), datetime.date(2017, 12, 4), '12:00:00', datetime.date(2017, 12, 6), 3, 36000, 'h_241', 6000, 'A', 'A-1', 35.81540930881771, 139.8390455477878, False),
 ('r7', 'h_256', 'c_1', datetime.datetime(2017, 12, 29, 10, 38, 36), datetime.date(2018, 1, 25), '10:30:00', datetime.date(2018, 1, 28), 1, 103500, 'h_256', 34500, 'C', 'C-1', 38.23729380047828, 140.69613145016714, True),
 ('r8', 'h_241', 'c_1', datetime.datetime(2018, 5, 26, 8, 42, 51), datetime.date(2018, 6, 8), '10:00:00', datetime.date(2018, 6, 9), 1, 6000, 'h_241', 6000, 'A', 'A-1', 35.81540930881771, 139.8390455477878, False),
 ('r9', 'h_217', 'c_2', datetime.datetime(2016, 3, 5, 13, 31, 6), datetime.date(2016, 3, 25), '09:30:00', datetime.date(2016, 3, 27), 3, 68400, 'h_217', 11400, 'B', 'B-2', 35.54470322228935, 139.79443971256103, True),
 ('r10', 'h_240', 'c_2', datetime.datetime(2016, 6, 25, 9, 12, 22), datetime.date(2016, 7, 14), '11:00:00', datetime.date(2016, 7, 17), 4, 320400, 'h_240', 26700, 'C', 'C-2', 38.330799991341095, 140.79725835352326, False)]

### JOINの条件に主テーブルの条件がある場合

- 主テーブル側の条件を付けると、結果から消える。
  - 以下の例では、主テーブルが1月のみに制限。

In [29]:
%%sql
SELECT *
FROM reserve_tb
JOIN hotel_tb ON reserve_tb.hotel_id = hotel_tb.hotel_id
    AND reserve_tb.checkout_date BETWEEN '2016-01-01' AND '2016-01-31'
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('r257', 'h_20', 'c_60', datetime.datetime(2016, 1, 4, 6, 14, 7), datetime.date(2016, 1, 15), '09:00:00', datetime.date(2016, 1, 17), 4, 56800, 'h_20', 7100, 'C', 'C-3', 38.43569663944218, 140.69932577987717, False),
 ('r261', 'h_5', 'c_62', datetime.datetime(2016, 1, 20, 6, 57, 16), datetime.date(2016, 1, 30), '11:30:00', datetime.date(2016, 1, 31), 3, 40500, 'h_5', 13500, 'G', 'G-3', 33.597291462214194, 130.5338715811148, True),
 ('r311', 'h_157', 'c_74', datetime.datetime(2016, 1, 19, 14, 3, 43), datetime.date(2016, 1, 19), '11:30:00', datetime.date(2016, 1, 20), 2, 69200, 'h_157', 34600, 'A', 'A-3', 35.91639535520708, 139.93984510223416, False),
 ('r324', 'h_173', 'c_76', datetime.datetime(2016, 1, 19, 19, 14, 28), datetime.date(2016, 1, 23), '09:00:00', datetime.date(2016, 1, 26), 3, 360000, 'h_173', 40000, 'G', 'G-4', 33.600076015265074, 130.6364420096841, True),
 ('r422', 'h_120', 'c_98', datetime.datetime(2016, 1, 12, 17, 49, 41), datetime.date(2016, 1, 16), '09:30:00', datetime.date(2016, 1, 19), 1, 130200, 'h_120', 43400, 'G', 'G-3', 33.59087482943807, 130.53113753827935, True),
 ('r458', 'h_172', 'c_106', datetime.datetime(2016, 1, 20, 23, 34, 39), datetime.date(2016, 1, 23), '12:30:00', datetime.date(2016, 1, 25), 2, 64000, 'h_172', 16000, 'F', 'F-1', 34.532760079912705, 132.46614373741406, False),
 ('r479', 'h_179', 'c_110', datetime.datetime(2016, 1, 2, 5, 24, 11), datetime.date(2016, 1, 21), '10:30:00', datetime.date(2016, 1, 24), 3, 50400, 'h_179', 5600, 'G', 'G-4', 33.599961904114444, 130.63201906517207, False),
 ('r596', 'h_222', 'c_145', datetime.datetime(2016, 1, 12, 19, 52, 43), datetime.date(2016, 1, 21), '10:30:00', datetime.date(2016, 1, 23), 2, 80000, 'h_222', 20000, 'C', 'C-1', 38.2293701817522, 140.89767922197402, True),
 ('r616', 'h_264', 'c_149', datetime.datetime(2016, 1, 11, 10, 46, 10), datetime.date(2016, 1, 22), '10:00:00', datetime.date(2016, 1, 23), 4, 52400, 'h_264', 13100, 'E', 'E-2', 35.18762427290423, 136.98049277390308, True),
 ('r624', 'h_243', 'c_151', datetime.datetime(2016, 1, 3, 3, 51, 39), datetime.date(2016, 1, 21), '11:30:00', datetime.date(2016, 1, 23), 3, 166200, 'h_243', 27700, 'A', 'A-1', 35.71235675523694, 139.93903193206336, True)]

### LEFT JOINの条件に主テーブルの条件がある場合

- これをLEFT JOINにすると？
    - LEFT JOINはとにかく主テーブルを元データのレコード数から変えることをしない。
    - つまり、主テーブルの条件に合わない部分は、データが無しとして扱われる。

In [31]:
%%sql
SELECT *
FROM reserve_tb
LEFT JOIN hotel_tb ON reserve_tb.hotel_id = hotel_tb.hotel_id
    AND reserve_tb.checkout_date BETWEEN '2016-01-01' AND '2016-01-31'
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('r1', 'h_75', 'c_1', datetime.datetime(2016, 3, 6, 13, 9, 42), datetime.date(2016, 3, 26), '10:00:00', datetime.date(2016, 3, 29), 4, 97200, None, None, None, None, None, None, None),
 ('r2', 'h_219', 'c_1', datetime.datetime(2016, 7, 16, 23, 39, 55), datetime.date(2016, 7, 20), '11:30:00', datetime.date(2016, 7, 21), 2, 20600, None, None, None, None, None, None, None),
 ('r3', 'h_179', 'c_1', datetime.datetime(2016, 9, 24, 10, 3, 17), datetime.date(2016, 10, 19), '09:00:00', datetime.date(2016, 10, 22), 2, 33600, None, None, None, None, None, None, None),
 ('r4', 'h_214', 'c_1', datetime.datetime(2017, 3, 8, 3, 20, 10), datetime.date(2017, 3, 29), '11:00:00', datetime.date(2017, 3, 30), 4, 194400, None, None, None, None, None, None, None),
 ('r5', 'h_16', 'c_1', datetime.datetime(2017, 9, 5, 19, 50, 37), datetime.date(2017, 9, 22), '10:30:00', datetime.date(2017, 9, 23), 3, 68100, None, None, None, None, None, None, None),
 ('r6', 'h_241', 'c_1', datetime.datetime(2017, 11, 27, 18, 47, 5), datetime.date(2017, 12, 4), '12:00:00', datetime.date(2017, 12, 6), 3, 36000, None, None, None, None, None, None, None),
 ('r7', 'h_256', 'c_1', datetime.datetime(2017, 12, 29, 10, 38, 36), datetime.date(2018, 1, 25), '10:30:00', datetime.date(2018, 1, 28), 1, 103500, None, None, None, None, None, None, None),
 ('r8', 'h_241', 'c_1', datetime.datetime(2018, 5, 26, 8, 42, 51), datetime.date(2018, 6, 8), '10:00:00', datetime.date(2018, 6, 9), 1, 6000, None, None, None, None, None, None, None),
 ('r9', 'h_217', 'c_2', datetime.datetime(2016, 3, 5, 13, 31, 6), datetime.date(2016, 3, 25), '09:30:00', datetime.date(2016, 3, 27), 3, 68400, None, None, None, None, None, None, None),
 ('r10', 'h_240', 'c_2', datetime.datetime(2016, 6, 25, 9, 12, 22), datetime.date(2016, 7, 14), '11:00:00', datetime.date(2016, 7, 17), 4, 320400, None, None, None, None, None, None, None)]

- これをどうにかしたい場合は、WHEREをつければOKだが、本来はLEFT JOINをJOIN(INNER JOIN)に修正した方がよさそう。

In [32]:
%%sql
SELECT *
FROM reserve_tb
LEFT JOIN hotel_tb ON reserve_tb.hotel_id = hotel_tb.hotel_id
    AND reserve_tb.checkout_date BETWEEN '2016-01-01' AND '2016-01-31'
WHERE reserve_tb.checkout_date BETWEEN '2016-01-01' AND '2016-01-31'
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('r257', 'h_20', 'c_60', datetime.datetime(2016, 1, 4, 6, 14, 7), datetime.date(2016, 1, 15), '09:00:00', datetime.date(2016, 1, 17), 4, 56800, 'h_20', 7100, 'C', 'C-3', 38.43569663944218, 140.69932577987717, False),
 ('r261', 'h_5', 'c_62', datetime.datetime(2016, 1, 20, 6, 57, 16), datetime.date(2016, 1, 30), '11:30:00', datetime.date(2016, 1, 31), 3, 40500, 'h_5', 13500, 'G', 'G-3', 33.597291462214194, 130.5338715811148, True),
 ('r311', 'h_157', 'c_74', datetime.datetime(2016, 1, 19, 14, 3, 43), datetime.date(2016, 1, 19), '11:30:00', datetime.date(2016, 1, 20), 2, 69200, 'h_157', 34600, 'A', 'A-3', 35.91639535520708, 139.93984510223416, False),
 ('r324', 'h_173', 'c_76', datetime.datetime(2016, 1, 19, 19, 14, 28), datetime.date(2016, 1, 23), '09:00:00', datetime.date(2016, 1, 26), 3, 360000, 'h_173', 40000, 'G', 'G-4', 33.600076015265074, 130.6364420096841, True),
 ('r422', 'h_120', 'c_98', datetime.datetime(2016, 1, 12, 17, 49, 41), datetime.date(2016, 1, 16), '09:30:00', datetime.date(2016, 1, 19), 1, 130200, 'h_120', 43400, 'G', 'G-3', 33.59087482943807, 130.53113753827935, True),
 ('r458', 'h_172', 'c_106', datetime.datetime(2016, 1, 20, 23, 34, 39), datetime.date(2016, 1, 23), '12:30:00', datetime.date(2016, 1, 25), 2, 64000, 'h_172', 16000, 'F', 'F-1', 34.532760079912705, 132.46614373741406, False),
 ('r479', 'h_179', 'c_110', datetime.datetime(2016, 1, 2, 5, 24, 11), datetime.date(2016, 1, 21), '10:30:00', datetime.date(2016, 1, 24), 3, 50400, 'h_179', 5600, 'G', 'G-4', 33.599961904114444, 130.63201906517207, False),
 ('r596', 'h_222', 'c_145', datetime.datetime(2016, 1, 12, 19, 52, 43), datetime.date(2016, 1, 21), '10:30:00', datetime.date(2016, 1, 23), 2, 80000, 'h_222', 20000, 'C', 'C-1', 38.2293701817522, 140.89767922197402, True),
 ('r616', 'h_264', 'c_149', datetime.datetime(2016, 1, 11, 10, 46, 10), datetime.date(2016, 1, 22), '10:00:00', datetime.date(2016, 1, 23), 4, 52400, 'h_264', 13100, 'E', 'E-2', 35.18762427290423, 136.98049277390308, True),
 ('r624', 'h_243', 'c_151', datetime.datetime(2016, 1, 3, 3, 51, 39), datetime.date(2016, 1, 21), '11:30:00', datetime.date(2016, 1, 23), 3, 166200, 'h_243', 27700, 'A', 'A-1', 35.71235675523694, 139.93903193206336, True)]

### JOINの条件に従テーブルの条件がある場合

- こちらの方が想像がつきやすいかも。
- 要は従テーブルの条件にマッチしないものは、欠損になって、INNER JOINなので消される。

In [37]:
%%sql
SELECT *
FROM reserve_tb
JOIN hotel_tb ON reserve_tb.hotel_id = hotel_tb.hotel_id
    AND hotel_tb.big_area_name = 'D'
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('r20', 'h_292', 'c_3', datetime.datetime(2017, 2, 23, 7, 10, 30), datetime.date(2017, 3, 3), '11:00:00', datetime.date(2017, 3, 4), 2, 18200, 'h_292', 9100, 'D', 'D-1', 43.05786893483166, 141.40998159306062, True),
 ('r28', 'h_119', 'c_4', datetime.datetime(2016, 10, 7, 4, 38, 54), datetime.date(2016, 11, 4), '10:00:00', datetime.date(2016, 11, 6), 4, 52800, 'h_119', 6600, 'D', 'D-1', 43.06207503404144, 141.4120219592387, False),
 ('r65', 'h_221', 'c_11', datetime.datetime(2016, 1, 24, 18, 58, 29), datetime.date(2016, 2, 19), '12:30:00', datetime.date(2016, 2, 22), 2, 33000, 'h_221', 5500, 'D', 'D-3', 43.159853379903545, 141.40684391661392, False),
 ('r79', 'h_218', 'c_13', datetime.datetime(2017, 3, 2, 5, 54, 51), datetime.date(2017, 3, 19), '10:30:00', datetime.date(2017, 3, 22), 3, 189000, 'h_218', 21000, 'D', 'D-4', 43.15851330740281, 141.5063404776606, True),
 ('r96', 'h_127', 'c_17', datetime.datetime(2016, 6, 8, 22, 39, 12), datetime.date(2016, 7, 8), '10:00:00', datetime.date(2016, 7, 9), 4, 168000, 'h_127', 42000, 'D', 'D-2', 43.056172375637054, 141.50815533916463, True),
 ('r117', 'h_221', 'c_22', datetime.datetime(2019, 2, 25, 3, 10, 39), datetime.date(2019, 3, 13), '11:30:00', datetime.date(2019, 3, 15), 1, 11000, 'h_221', 5500, 'D', 'D-3', 43.159853379903545, 141.40684391661392, False),
 ('r135', 'h_91', 'c_27', datetime.datetime(2016, 12, 16, 10, 42, 36), datetime.date(2017, 1, 4), '10:30:00', datetime.date(2017, 1, 6), 2, 184000, 'h_91', 46000, 'D', 'D-3', 43.16366397868197, 141.4158682781267, False),
 ('r140', 'h_221', 'c_28', datetime.datetime(2016, 3, 13, 23, 16, 53), datetime.date(2016, 3, 16), '09:30:00', datetime.date(2016, 3, 18), 4, 44000, 'h_221', 5500, 'D', 'D-3', 43.159853379903545, 141.40684391661392, False),
 ('r156', 'h_40', 'c_34', datetime.datetime(2016, 6, 6, 20, 4, 33), datetime.date(2016, 6, 30), '12:30:00', datetime.date(2016, 7, 1), 3, 26700, 'h_40', 8900, 'D', 'D-3', 43.16539930665659, 141.41334946543185, False),
 ('r164', 'h_40', 'c_36', datetime.datetime(2016, 12, 6, 5, 50, 33), datetime.date(2016, 12, 30), '10:30:00', datetime.date(2017, 1, 1), 4, 71200, 'h_40', 8900, 'D', 'D-3', 43.16539930665659, 141.41334946543185, False)]

### LEFT JOINの条件に従テーブルの条件がある場合

- こちらも欠損含めてひょうじされる。

In [41]:
%%sql
SELECT *
FROM reserve_tb
LEFT JOIN hotel_tb ON reserve_tb.hotel_id = hotel_tb.hotel_id
    AND hotel_tb.big_area_name = 'D'
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('r1', 'h_75', 'c_1', datetime.datetime(2016, 3, 6, 13, 9, 42), datetime.date(2016, 3, 26), '10:00:00', datetime.date(2016, 3, 29), 4, 97200, None, None, None, None, None, None, None),
 ('r2', 'h_219', 'c_1', datetime.datetime(2016, 7, 16, 23, 39, 55), datetime.date(2016, 7, 20), '11:30:00', datetime.date(2016, 7, 21), 2, 20600, None, None, None, None, None, None, None),
 ('r3', 'h_179', 'c_1', datetime.datetime(2016, 9, 24, 10, 3, 17), datetime.date(2016, 10, 19), '09:00:00', datetime.date(2016, 10, 22), 2, 33600, None, None, None, None, None, None, None),
 ('r4', 'h_214', 'c_1', datetime.datetime(2017, 3, 8, 3, 20, 10), datetime.date(2017, 3, 29), '11:00:00', datetime.date(2017, 3, 30), 4, 194400, None, None, None, None, None, None, None),
 ('r5', 'h_16', 'c_1', datetime.datetime(2017, 9, 5, 19, 50, 37), datetime.date(2017, 9, 22), '10:30:00', datetime.date(2017, 9, 23), 3, 68100, None, None, None, None, None, None, None),
 ('r6', 'h_241', 'c_1', datetime.datetime(2017, 11, 27, 18, 47, 5), datetime.date(2017, 12, 4), '12:00:00', datetime.date(2017, 12, 6), 3, 36000, None, None, None, None, None, None, None),
 ('r7', 'h_256', 'c_1', datetime.datetime(2017, 12, 29, 10, 38, 36), datetime.date(2018, 1, 25), '10:30:00', datetime.date(2018, 1, 28), 1, 103500, None, None, None, None, None, None, None),
 ('r8', 'h_241', 'c_1', datetime.datetime(2018, 5, 26, 8, 42, 51), datetime.date(2018, 6, 8), '10:00:00', datetime.date(2018, 6, 9), 1, 6000, None, None, None, None, None, None, None),
 ('r9', 'h_217', 'c_2', datetime.datetime(2016, 3, 5, 13, 31, 6), datetime.date(2016, 3, 25), '09:30:00', datetime.date(2016, 3, 27), 3, 68400, None, None, None, None, None, None, None),
 ('r10', 'h_240', 'c_2', datetime.datetime(2016, 6, 25, 9, 12, 22), datetime.date(2016, 7, 14), '11:00:00', datetime.date(2016, 7, 17), 4, 320400, None, None, None, None, None, None, None)]

### WHEREとかORとかINとか
- INの使い方はPythonに似てて問題なさそうやね。

In [47]:
%%sql
SELECT *
FROM reserve_tb
WHERE reserve_tb.people_num = 4 OR ( reserve_tb.customer_id IN ('c_1', 'c_4') )
LIMIT 10

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('r1', 'h_75', 'c_1', datetime.datetime(2016, 3, 6, 13, 9, 42), datetime.date(2016, 3, 26), '10:00:00', datetime.date(2016, 3, 29), 4, 97200),
 ('r2', 'h_219', 'c_1', datetime.datetime(2016, 7, 16, 23, 39, 55), datetime.date(2016, 7, 20), '11:30:00', datetime.date(2016, 7, 21), 2, 20600),
 ('r3', 'h_179', 'c_1', datetime.datetime(2016, 9, 24, 10, 3, 17), datetime.date(2016, 10, 19), '09:00:00', datetime.date(2016, 10, 22), 2, 33600),
 ('r4', 'h_214', 'c_1', datetime.datetime(2017, 3, 8, 3, 20, 10), datetime.date(2017, 3, 29), '11:00:00', datetime.date(2017, 3, 30), 4, 194400),
 ('r5', 'h_16', 'c_1', datetime.datetime(2017, 9, 5, 19, 50, 37), datetime.date(2017, 9, 22), '10:30:00', datetime.date(2017, 9, 23), 3, 68100),
 ('r6', 'h_241', 'c_1', datetime.datetime(2017, 11, 27, 18, 47, 5), datetime.date(2017, 12, 4), '12:00:00', datetime.date(2017, 12, 6), 3, 36000),
 ('r7', 'h_256', 'c_1', datetime.datetime(2017, 12, 29, 10, 38, 36), datetime.date(2018, 1, 25), '10:30:00', datetime.date(2018, 1, 28), 1, 103500),
 ('r8', 'h_241', 'c_1', datetime.datetime(2018, 5, 26, 8, 42, 51), datetime.date(2018, 6, 8), '10:00:00', datetime.date(2018, 6, 9), 1, 6000),
 ('r10', 'h_240', 'c_2', datetime.datetime(2016, 6, 25, 9, 12, 22), datetime.date(2016, 7, 14), '11:00:00', datetime.date(2016, 7, 17), 4, 320400),
 ('r12', 'h_268', 'c_2', datetime.datetime(2017, 5, 24, 10, 6, 21), datetime.date(2017, 6, 20), '09:00:00', datetime.date(2017, 6, 21), 4, 81600)]

### UNION

- UNIONは単純に縦方向にくっつけるだけ。
- なので同じカラム同士である必要がある。
- UNIONとUNION ALLがあり、UNIONは重複するものを削除するが、そのため計算コストが大きい。

In [52]:
%%sql
SELECT *
FROM reserve_tb
WHERE reserve_tb.people_num = 4
UNION ALL
SELECT *
FROM reserve_tb
WHERE reserve_tb.people_num = 3
LIMIT 20

 * postgresql://padawan:***@db:5432/dsdojo_db
20 rows affected.

[('r1', 'h_75', 'c_1', datetime.datetime(2016, 3, 6, 13, 9, 42), datetime.date(2016, 3, 26), '10:00:00', datetime.date(2016, 3, 29), 4, 97200),
 ('r4', 'h_214', 'c_1', datetime.datetime(2017, 3, 8, 3, 20, 10), datetime.date(2017, 3, 29), '11:00:00', datetime.date(2017, 3, 30), 4, 194400),
 ('r10', 'h_240', 'c_2', datetime.datetime(2016, 6, 25, 9, 12, 22), datetime.date(2016, 7, 14), '11:00:00', datetime.date(2016, 7, 17), 4, 320400),
 ('r12', 'h_268', 'c_2', datetime.datetime(2017, 5, 24, 10, 6, 21), datetime.date(2017, 6, 20), '09:00:00', datetime.date(2017, 6, 21), 4, 81600),
 ('r16', 'h_135', 'c_2', datetime.datetime(2018, 7, 6, 4, 18, 28), datetime.date(2018, 7, 8), '10:00:00', datetime.date(2018, 7, 9), 4, 46400),
 ('r22', 'h_12', 'c_3', datetime.datetime(2017, 7, 24, 19, 15, 54), datetime.date(2017, 8, 8), '09:00:00', datetime.date(2017, 8, 9), 4, 26800),
 ('r24', 'h_34', 'c_3', datetime.datetime(2018, 4, 27, 8, 51, 7), datetime.date(2018, 5, 7), '09:30:00', datetime.date(2018, 5, 10), 4, 102000),
 ('r28', 'h_119', 'c_4', datetime.datetime(2016, 10, 7, 4, 38, 54), datetime.date(2016, 11, 4), '10:00:00', datetime.date(2016, 11, 6), 4, 52800),
 ('r29', 'h_222', 'c_4', datetime.datetime(2016, 11, 10, 21, 59, 2), datetime.date(2016, 11, 13), '12:30:00', datetime.date(2016, 11, 16), 4, 240000),
 ('r31', 'h_143', 'c_4', datetime.datetime(2017, 8, 17, 3, 16, 51), datetime.date(2017, 9, 14), '10:30:00', datetime.date(2017, 9, 15), 4, 79200),
 ('r33', 'h_82', 'c_5', datetime.datetime(2016, 5, 19, 18, 50, 58), datetime.date(2016, 5, 30), '11:00:00', datetime.date(2016, 6, 1), 4, 101600),
 ('r36', 'h_277', 'c_5', datetime.datetime(2017, 7, 23, 16, 33, 45), datetime.date(2017, 8, 6), '12:30:00', datetime.date(2017, 8, 8), 4, 104800),
 ('r38', 'h_199', 'c_6', datetime.datetime(2016, 8, 14, 8, 19, 10), datetime.date(2016, 9, 1), '12:30:00', datetime.date(2016, 9, 2), 4, 72800),
 ('r50', 'h_176', 'c_8', datetime.datetime(2017, 6, 12, 10, 21, 33), datetime.date(2017, 7, 1), '11:00:00', datetime.date(2017, 7, 2), 4, 69600),
 ('r52', 'h_152', 'c_8', datetime.datetime(2017, 12, 30, 22, 27, 20), datetime.date(2018, 1, 16), '11:00:00', datetime.date(2018, 1, 18), 4, 135200),
 ('r56', 'h_33', 'c_9', datetime.datetime(2016, 11, 4, 14, 4, 58), datetime.date(2016, 12, 1), '12:30:00', datetime.date(2016, 12, 3), 4, 60000),
 ('r59', 'h_245', 'c_10', datetime.datetime(2016, 6, 20, 11, 10, 52), datetime.date(2016, 7, 8), '11:00:00', datetime.date(2016, 7, 10), 4, 110400),
 ('r62', 'h_21', 'c_10', datetime.datetime(2017, 7, 29, 17, 48, 41), datetime.date(2017, 8, 6), '12:00:00', datetime.date(2017, 8, 8), 4, 89600),
 ('r66', 'h_16', 'c_11', datetime.datetime(2016, 7, 9, 18, 47, 35), datetime.date(2016, 7, 19), '11:00:00', datetime.date(2016, 7, 22), 4, 272400),
 ('r67', 'h_142', 'c_11', datetime.datetime(2016, 12, 4, 20, 14, 40), datetime.date(2016, 12, 16), '11:30:00', datetime.date(2016, 12, 17), 4, 37200)]

- 単純に上記の例では、WHEREに複数条件入れれば済む話ではある。
- なので実際には違うルールでJOINした者同士をくっつけたり、WHEREで済まない場合が使いどころである。

### DISTINCT

- SELECT直後に記述し、結果が重複するレコードを削除する。
- 重複の判断は、SELECTされたカラムのみで行われる。
  - なのでテーブル自体の重複を削除するのではなく、あくまで取得する列の範囲での重複を削除するイメージ。

In [62]:
%%sql
SELECT DISTINCT customer_id, people_num FROM reserve_tb

 * postgresql://padawan:***@db:5432/dsdojo_db
2366 rows affected.

[('c_568', 4),
 ('c_796', 2),
 ('c_332', 3),
 ('c_440', 1),
 ('c_848', 1),
 ('c_378', 4),
 ('c_83', 2),
 ('c_108', 3),
 ('c_105', 3),
 ('c_726', 1),
 ('c_377', 2),
 ('c_764', 1),
 ('c_328', 4),
 ('c_186', 2),
 ('c_182', 2),
 ('c_862', 3),
 ('c_8', 3),
 ('c_988', 2),
 ('c_222', 3),
 ('c_113', 4),
 ('c_699', 4),
 ('c_366', 2),
 ('c_90', 2),
 ('c_82', 3),
 ('c_418', 4),
 ('c_513', 1),
 ('c_433', 2),
 ('c_705', 2),
 ('c_688', 4),
 ('c_728', 1),
 ('c_653', 4),
 ('c_192', 3),
 ('c_765', 4),
 ('c_374', 1),
 ('c_550', 4),
 ('c_244', 2),
 ('c_231', 1),
 ('c_816', 1),
 ('c_566', 2),
 ('c_792', 4),
 ('c_472', 3),
 ('c_767', 2),
 ('c_910', 2),
 ('c_494', 1),
 ('c_377', 4),
 ('c_437', 1),
 ('c_267', 3),
 ('c_590', 1),
 ('c_313', 4),
 ('c_305', 1),
 ('c_906', 2),
 ('c_649', 3),
 ('c_428', 3),
 ('c_374', 3),
 ('c_160', 4),
 ('c_376', 4),
 ('c_767', 4),
 ('c_160', 1),
 ('c_120', 2),
 ('c_377', 1),
 ('c_961', 4),
 ('c_198', 2),
 ('c_973', 2),
 ('c_758', 4),
 ('c_671', 2),
 ('c_759', 1),
 ('c_522', 1),
 ('c_844', 4),
 ('c_202', 2),
 ('c_131', 2),
 ('c_840', 1),
 ('c_92', 3),
 ('c_945', 4),
 ('c_118', 4),
 ('c_677', 2),
 ('c_505', 3),
 ('c_74', 3),
 ('c_481', 3),
 ('c_426', 2),
 ('c_359', 1),
 ('c_105', 2),
 ('c_537', 4),
 ('c_96', 3),
 ('c_927', 3),
 ('c_838', 1),
 ('c_54', 4),
 ('c_940', 3),
 ('c_285', 1),
 ('c_124', 2),
 ('c_83', 4),
 ('c_702', 4),
 ('c_294', 3),
 ('c_787', 1),
 ('c_199', 1),
 ('c_36', 4),
 ('c_353', 1),
 ('c_174', 1),
 ('c_981', 4),
 ('c_825', 4),
 ('c_515', 3),
 ('c_936', 1),
 ('c_578', 3),
 ('c_971', 1),
 ('c_171', 3),
 ('c_11', 3),
 ('c_2', 1),
 ('c_99', 1),
 ('c_929', 4),
 ('c_835', 1),
 ('c_332', 4),
 ('c_819', 4),
 ('c_203', 1),
 ('c_756', 1),
 ('c_436', 3),
 ('c_501', 2),
 ('c_276', 3),
 ('c_128', 3),
 ('c_380', 1),
 ('c_829', 2),
 ('c_719', 3),
 ('c_212', 3),
 ('c_235', 4),
 ('c_987', 2),
 ('c_839', 3),
 ('c_804', 2),
 ('c_909', 4),
 ('c_278', 1),
 ('c_646', 2),
 ('c_529', 1),
 ('c_989', 4),
 ('c_454', 3),
 ('c_188', 1),
 ('c_182', 3),
 ('c_715', 3),
 ('c_491', 1),
 ('c_950', 4),
 ('c_890', 1),
 ('c_599', 1),
 ('c_851', 1),
 ('c_238', 1),
 ('c_486', 1),
 ('c_451', 2),
 ('c_238', 2),
 ('c_36', 2),
 ('c_274', 3),
 ('c_101', 1),
 ('c_51', 3),
 ('c_376', 2),
 ('c_340', 3),
 ('c_224', 1),
 ('c_770', 4),
 ('c_205', 4),
 ('c_215', 3),
 ('c_696', 4),
 ('c_464', 2),
 ('c_239', 3),
 ('c_253', 1),
 ('c_28', 4),
 ('c_175', 2),
 ('c_606', 2),
 ('c_253', 4),
 ('c_941', 2),
 ('c_850', 2),
 ('c_7', 2),
 ('c_822', 3),
 ('c_375', 4),
 ('c_537', 1),
 ('c_773', 1),
 ('c_707', 3),
 ('c_152', 1),
 ('c_251', 2),
 ('c_764', 2),
 ('c_360', 1),
 ('c_491', 4),
 ('c_801', 2),
 ('c_628', 1),
 ('c_574', 3),
 ('c_340', 1),
 ('c_732', 2),
 ('c_94', 3),
 ('c_58', 1),
 ('c_833', 2),
 ('c_674', 3),
 ('c_396', 1),
 ('c_753', 1),
 ('c_172', 3),
 ('c_603', 4),
 ('c_985', 1),
 ('c_87', 1),
 ('c_421', 1),
 ('c_237', 2),
 ('c_631', 1),
 ('c_466', 1),
 ('c_413', 3),
 ('c_262', 1),
 ('c_966', 3),
 ('c_317', 3),
 ('c_428', 2),
 ('c_485', 4),
 ('c_501', 4),
 ('c_866', 1),
 ('c_882', 1),
 ('c_154', 3),
 ('c_704', 1),
 ('c_733', 4),
 ('c_793', 4),
 ('c_750', 2),
 ('c_924', 1),
 ('c_44', 4),
 ('c_13', 1),
 ('c_608', 2),
 ('c_462', 4),
 ('c_284', 2),
 ('c_483', 2),
 ('c_447', 4),
 ('c_465', 1),
 ('c_443', 3),
 ('c_803', 4),
 ('c_313', 2),
 ('c_64', 2),
 ('c_928', 3),
 ('c_89', 1),
 ('c_975', 3),
 ('c_835', 4),
 ('c_499', 1),
 ('c_438', 2),
 ('c_162', 2),
 ('c_280', 1),
 ('c_247', 3),
 ('c_61', 4),
 ('c_270', 1),
 ('c_516', 2),
 ('c_533', 1),
 ('c_672', 2),
 ('c_950', 3),
 ('c_553', 3),
 ('c_224', 4),
 ('c_492', 4),
 ('c_570', 1),
 ('c_85', 4),
 ('c_931', 2),
 ('c_588', 3),
 ('c_375', 3),
 ('c_307', 3),
 ('c_285', 2),
 ('c_122', 3),
 ('c_907', 2),
 ('c_338', 2),
 ('c_240', 1),
 ('c_779', 2),
 ('c_617', 3),
 ('c_996', 3),
 ('c_157', 3),
 ('c_129', 3),
 ('c_470', 1),
 ('c_724', 4),
 ('c_660', 3),
 ('c_540', 4),
 ('c_549', 4),
 ('c_498', 2),
 ('c_197', 4),
 ('c_462', 3),
 ('c_2', 2),
 ('c_427', 1),
 ('c_926', 4),
 ('c_920', 2),
 ('c_535', 3),
 ('c_422', 2),
 ('c_369', 4),
 ('c_692', 3),
 ('c_146', 3),
 ('c_435', 3),
 ('c_397', 1),
 ('c_134', 3),
 ('c_71', 4),
 ('c_51', 1),
 ('c_151', 1),
 ('c_164', 1),
 ('c_947', 1),
 ('c_775', 1),
 ('c_393', 2),
 ('c_289', 2),
 ('c_580', 1),
 ('c_69', 2),
 ('c_601', 3),
 ('c_595', 4),
 ('c_919', 1),
 ('c_577', 2),
 ('c_566', 1),
 ('c_230', 3),
 ('c_22', 4),
 ('c_854', 3),
 ('c_827', 1),
 ('c_769', 2),
 ('c_754', 2),
 ('c_261', 2),
 ('c_260', 4),
 ('c_311', 2),
 ('c_776', 3),
 ('c_346', 3),
 ('c_829', 1),
 ('c_306', 4),
 ('c_144', 2),
 ('c_76', 3),
 ('c_27', 2),
 ('c_949', 3),
 ('c_703', 3),
 ('c_912', 1),
 ('c_90', 3),
 ('c_726', 2),
 ('c_682', 2),
 ('c_281', 2),
 ('c_800', 3),
 ('c_467', 4),
 ('c_609', 3),
 ('c_75', 1),
 ('c_483', 1),
 ('c_250', 1),
 ('c_926', 3),
 ('c_825', 2),
 ('c_621', 1),
 ('c_7', 3),
 ('c_609', 1),
 ('c_512', 3),
 ('c_307', 2),
 ('c_666', 4),
 ('c_941', 4),
 ('c_320', 4),
 ('c_619', 2),
 ('c_917', 2),
 ('c_885', 2),
 ('c_499', 3),
 ('c_213', 4),
 ('c_853', 4),
 ('c_447', 3),
 ('c_190', 2),
 ('c_175', 3),
 ('c_554', 3),
 ('c_881', 2),
 ('c_410', 4),
 ('c_4', 2),
 ('c_331', 2),
 ('c_25', 4),
 ('c_750', 1),
 ('c_896', 1),
 ('c_868', 2),
 ('c_650', 3),
 ('c_783', 4),
 ('c_809', 2),
 ('c_157', 1),
 ('c_813', 2),
 ('c_981', 1),
 ('c_291', 3),
 ('c_953', 1),
 ('c_389', 1),
 ('c_346', 4),
 ('c_678', 2),
 ('c_730', 4),
 ('c_597', 4),
 ('c_922', 2),
 ('c_1000', 1),
 ('c_926', 1),
 ('c_321', 1),
 ('c_795', 4),
 ('c_711', 3),
 ('c_742', 3),
 ('c_307', 4),
 ('c_190', 3),
 ('c_635', 4),
 ('c_62', 2),
 ('c_214', 3),
 ('c_784', 3),
 ('c_262', 3),
 ('c_149', 4),
 ('c_680', 1),
 ('c_386', 3),
 ('c_8', 1),
 ('c_808', 3),
 ('c_208', 2),
 ('c_835', 3),
 ('c_896', 4),
 ('c_995', 3),
 ('c_957', 4),
 ('c_410', 2),
 ('c_617', 1),
 ('c_828', 1),
 ('c_329', 3),
 ('c_163', 4),
 ('c_503', 4),
 ('c_645', 4),
 ('c_332', 1),
 ('c_722', 4),
 ('c_802', 4),
 ('c_868', 3),
 ('c_504', 2),
 ('c_632', 4),
 ('c_802', 2),
 ('c_646', 3),
 ('c_972', 3),
 ('c_785', 2),
 ('c_762', 3),
 ('c_703', 1),
 ('c_850', 3),
 ('c_757', 1),
 ('c_533', 2),
 ('c_335', 3),
 ('c_457', 4),
 ('c_191', 3),
 ('c_840', 2),
 ('c_830', 1),
 ('c_601', 1),
 ('c_193', 2),
 ('c_399', 2),
 ('c_91', 3),
 ('c_265', 3),
 ('c_1', 4),
 ('c_268', 3),
 ('c_455', 4),
 ('c_351', 2),
 ('c_760', 3),
 ('c_700', 2),
 ('c_40', 1),
 ('c_531', 1),
 ('c_57', 2),
 ('c_608', 3),
 ('c_324', 1),
 ('c_579', 3),
 ('c_933', 4),
 ('c_581', 1),
 ('c_642', 4),
 ('c_756', 4),
 ('c_73', 1),
 ('c_886', 3),
 ('c_31', 2),
 ('c_593', 1),
 ('c_206', 3),
 ('c_380', 2),
 ('c_541', 2),
 ('c_606', 4),
 ('c_816', 2),
 ('c_591', 3),
 ('c_155', 3),
 ('c_869', 3),
 ('c_676', 2),
 ('c_997', 2),
 ('c_359', 4),
 ('c_945', 2),
 ('c_857', 2),
 ('c_783', 3),
 ('c_563', 2),
 ('c_549', 2),
 ('c_747', 2),
 ('c_835', 2),
 ('c_747', 1),
 ('c_968', 2),
 ('c_28', 1),
 ('c_670', 3),
 ('c_342', 2),
 ('c_546', 1),
 ('c_300', 2),
 ('c_523', 2),
 ('c_301', 1),
 ('c_176', 4),
 ('c_152', 3),
 ('c_137', 2),
 ('c_937', 4),
 ('c_616', 1),
 ('c_965', 3),
 ('c_410', 1),
 ('c_255', 4),
 ('c_463', 3),
 ('c_461', 2),
 ('c_867', 1),
 ('c_556', 1),
 ('c_306', 1),
 ('c_921', 3),
 ('c_443', 1),
 ('c_26', 4),
 ('c_801', 4),
 ('c_650', 1),
 ('c_190', 4),
 ('c_621', 4),
 ('c_973', 4),
 ('c_27', 1),
 ('c_942', 1),
 ('c_203', 4),
 ('c_690', 3),
 ('c_845', 4),
 ('c_252', 2),
 ('c_773', 3),
 ('c_425', 3),
 ('c_771', 3),
 ('c_803', 2),
 ('c_473', 1),
 ('c_63', 3),
 ('c_596', 3),
 ('c_902', 3),
 ('c_977', 2),
 ('c_532', 2),
 ('c_747', 4),
 ('c_49', 3),
 ('c_135', 3),
 ('c_915', 4),
 ('c_822', 1),
 ('c_753', 3),
 ('c_213', 3),
 ('c_408', 3),
 ('c_349', 4),
 ('c_833', 1),
 ('c_468', 3),
 ('c_559', 2),
 ('c_700', 3),
 ('c_193', 1),
 ('c_900', 3),
 ('c_853', 2),
 ('c_676', 3),
 ('c_372', 2),
 ('c_625', 2),
 ('c_388', 4),
 ('c_783', 1),
 ('c_641', 3),
 ('c_768', 2),
 ('c_787', 4),
 ('c_652', 2),
 ('c_392', 3),
 ('c_74', 2),
 ('c_99', 3),
 ('c_621', 3),
 ('c_146', 1),
 ('c_678', 4),
 ('c_257', 2),
 ('c_393', 1),
 ('c_218', 4),
 ('c_39', 2),
 ('c_849', 3),
 ('c_282', 2),
 ('c_236', 3),
 ('c_326', 1),
 ('c_370', 1),
 ('c_303', 2),
 ('c_262', 2),
 ('c_433', 3),
 ('c_133', 4),
 ('c_880', 4),
 ('c_272', 3),
 ('c_126', 3),
 ('c_962', 4),
 ('c_235', 2),
 ('c_291', 1),
 ('c_451', 4),
 ('c_65', 2),
 ('c_654', 4),
 ('c_254', 4),
 ('c_725', 1),
 ('c_255', 2),
 ('c_707', 4),
 ('c_912', 3),
 ('c_177', 1),
 ('c_975', 1),
 ('c_768', 4),
 ('c_55', 4),
 ('c_520', 4),
 ('c_986', 3),
 ('c_356', 1),
 ('c_349', 1),
 ('c_672', 1),
 ('c_92', 4),
 ('c_607', 2),
 ('c_346', 1),
 ('c_26', 2),
 ('c_384', 4),
 ('c_692', 1),
 ('c_939', 1),
 ('c_509', 2),
 ('c_327', 1),
 ('c_870', 4),
 ('c_140', 4),
 ('c_77', 4),
 ('c_442', 1),
 ('c_288', 1),
 ('c_529', 4),
 ('c_473', 4),
 ('c_804', 3),
 ('c_107', 1),
 ('c_993', 3),
 ('c_840', 3),
 ('c_732', 1),
 ('c_982', 3),
 ('c_516', 4),
 ('c_586', 4),
 ('c_600', 4),
 ('c_805', 1),
 ('c_661', 3),
 ('c_410', 3),
 ('c_885', 4),
 ('c_345', 2),
 ('c_413', 1),
 ('c_705', 1),
 ('c_172', 4),
 ('c_863', 2),
 ('c_196', 1),
 ('c_821', 1),
 ('c_702', 2),
 ('c_906', 3),
 ('c_270', 2),
 ('c_555', 4),
 ('c_506', 2),
 ('c_944', 2),
 ('c_235', 3),
 ('c_880', 3),
 ('c_11', 2),
 ('c_82', 4),
 ('c_526', 2),
 ('c_557', 4),
 ('c_416', 3),
 ('c_382', 3),
 ('c_904', 3),
 ('c_209', 3),
 ('c_896', 3),
 ('c_408', 1),
 ('c_512', 4),
 ('c_807', 4),
 ('c_467', 3),
 ('c_848', 4),
 ('c_639', 4),
 ('c_579', 4),
 ('c_88', 1),
 ('c_929', 2),
 ('c_770', 1),
 ('c_704', 4),
 ('c_17', 3),
 ('c_576', 2),
 ('c_718', 2),
 ('c_718', 4),
 ('c_692', 4),
 ('c_173', 3),
 ('c_906', 4),
 ('c_136', 1),
 ('c_314', 1),
 ('c_131', 3),
 ('c_889', 4),
 ('c_6', 3),
 ('c_814', 3),
 ('c_560', 1),
 ('c_339', 2),
 ('c_547', 1),
 ('c_697', 1),
 ('c_74', 4),
 ('c_543', 2),
 ('c_952', 4),
 ('c_841', 4),
 ('c_112', 2),
 ('c_104', 4),
 ('c_219', 4),
 ('c_743', 3),
 ('c_961', 1),
 ('c_275', 4),
 ('c_41', 3),
 ('c_999', 1),
 ('c_725', 3),
 ('c_73', 4),
 ('c_992', 3),
 ('c_573', 3),
 ('c_980', 3),
 ('c_106', 1),
 ('c_235', 1),
 ('c_120', 3),
 ('c_964', 4),
 ('c_606', 1),
 ('c_365', 2),
 ('c_888', 3),
 ('c_820', 4),
 ('c_234', 1),
 ('c_854', 1),
 ('c_436', 4),
 ('c_928', 4),
 ('c_657', 3),
 ('c_497', 3),
 ('c_792', 3),
 ('c_838', 3),
 ('c_246', 3),
 ('c_341', 1),
 ('c_233', 4),
 ('c_799', 3),
 ('c_99', 2),
 ('c_494', 3),
 ('c_287', 2),
 ('c_3', 1),
 ('c_909', 1),
 ('c_308', 1),
 ('c_118', 1),
 ('c_882', 2),
 ('c_849', 4),
 ('c_475', 2),
 ('c_349', 2),
 ('c_77', 3),
 ('c_30', 1),
 ('c_990', 1),
 ('c_692', 2),
 ('c_915', 1),
 ('c_192', 1),
 ('c_603', 2),
 ('c_520', 2),
 ('c_10', 4),
 ('c_788', 3),
 ('c_905', 4),
 ('c_120', 4),
 ('c_970', 4),
 ('c_242', 4),
 ('c_280', 4),
 ('c_588', 4),
 ('c_562', 1),
 ('c_373', 2),
 ('c_856', 3),
 ('c_524', 4),
 ('c_114', 4),
 ('c_206', 1),
 ('c_135', 4),
 ('c_348', 2),
 ('c_340', 2),
 ('c_953', 4),
 ('c_862', 2),
 ('c_577', 1),
 ('c_137', 3),
 ('c_687', 3),
 ('c_797', 4),
 ('c_946', 4),
 ('c_530', 4),
 ('c_837', 1),
 ('c_718', 1),
 ('c_629', 4),
 ('c_954', 4),
 ('c_623', 2),
 ('c_859', 4),
 ('c_797', 2),
 ('c_17', 4),
 ('c_898', 2),
 ('c_489', 1),
 ('c_406', 4),
 ('c_826', 1),
 ('c_615', 2),
 ('c_17', 1),
 ('c_168', 3),
 ('c_599', 3),
 ('c_317', 4),
 ('c_851', 4),
 ('c_164', 3),
 ('c_180', 3),
 ('c_647', 3),
 ('c_19', 1),
 ('c_823', 2),
 ('c_91', 2),
 ('c_963', 2),
 ('c_343', 4),
 ('c_552', 4),
 ('c_100', 3),
 ('c_518', 3),
 ('c_181', 1),
 ('c_160', 2),
 ('c_524', 2),
 ('c_342', 1),
 ('c_475', 3),
 ('c_109', 4),
 ('c_75', 4),
 ('c_713', 2),
 ('c_979', 3),
 ('c_630', 1),
 ('c_482', 2),
 ('c_877', 4),
 ('c_520', 1),
 ('c_831', 3),
 ('c_875', 1),
 ('c_62', 3),
 ('c_245', 4),
 ('c_698', 3),
 ('c_841', 3),
 ('c_593', 4),
 ('c_524', 3),
 ('c_9', 2),
 ('c_1', 3),
 ('c_652', 4),
 ('c_950', 2),
 ('c_91', 4),
 ('c_916', 3),
 ('c_292', 4),
 ('c_574', 1),
 ('c_58', 3),
 ('c_787', 3),
 ('c_59', 3),
 ('c_364', 2),
 ('c_887', 4),
 ('c_99', 4),
 ('c_892', 2),
 ('c_956', 3),
 ('c_507', 4),
 ('c_624', 3),
 ('c_368', 4),
 ('c_645', 1),
 ('c_701', 4),
 ('c_103', 4),
 ('c_947', 3),
 ('c_519', 2),
 ('c_492', 3),
 ('c_675', 4),
 ('c_454', 4),
 ('c_747', 3),
 ('c_94', 2),
 ('c_516', 1),
 ('c_878', 3),
 ('c_565', 3),
 ('c_61', 1),
 ('c_49', 4),
 ('c_372', 1),
 ('c_430', 2),
 ('c_617', 2),
 ('c_765', 3),
 ('c_280', 3),
 ('c_498', 4),
 ('c_177', 3),
 ('c_107', 3),
 ('c_999', 2),
 ('c_170', 2),
 ('c_314', 3),
 ('c_214', 1),
 ('c_464', 3),
 ('c_988', 4),
 ('c_300', 3),
 ('c_571', 2),
 ('c_96', 2),
 ('c_21', 4),
 ('c_784', 2),
 ('c_558', 4),
 ('c_979', 1),
 ('c_724', 1),
 ('c_149', 2),
 ('c_527', 2),
 ('c_921', 4),
 ('c_365', 1),
 ('c_83', 3),
 ('c_518', 2),
 ('c_789', 3),
 ('c_993', 1),
 ('c_311', 4),
 ('c_738', 1),
 ('c_481', 1),
 ('c_461', 3),
 ('c_405', 2),
 ('c_272', 4),
 ('c_242', 2),
 ('c_864', 2),
 ('c_530', 1),
 ('c_379', 4),
 ('c_210', 1),
 ('c_528', 3),
 ('c_526', 1),
 ('c_655', 2),
 ('c_217', 3),
 ('c_427', 4),
 ('c_201', 1),
 ('c_47', 1),
 ('c_448', 4),
 ('c_664', 1),
 ('c_607', 1),
 ('c_757', 3),
 ('c_325', 4),
 ('c_33', 4),
 ('c_34', 3),
 ('c_349', 3),
 ('c_266', 1),
 ('c_391', 1),
 ('c_704', 3),
 ('c_146', 4),
 ('c_485', 2),
 ('c_982', 4),
 ('c_628', 4),
 ('c_434', 4),
 ('c_553', 4),
 ('c_50', 3),
 ('c_919', 3),
 ('c_646', 4),
 ('c_827', 3),
 ('c_199', 3),
 ('c_510', 2),
 ('c_442', 4),
 ('c_196', 4),
 ('c_781', 2),
 ('c_257', 1),
 ('c_500', 3),
 ('c_666', 3),
 ('c_806', 2),
 ('c_612', 3),
 ('c_50', 2),
 ('c_462', 2),
 ('c_212', 4),
 ('c_935', 3),
 ('c_206', 4),
 ('c_298', 2),
 ('c_257', 3),
 ('c_843', 4),
 ('c_285', 3),
 ('c_847', 4),
 ('c_24', 2),
 ('c_987', 4),
 ('c_104', 3),
 ('c_1', 2),
 ('c_415', 3),
 ('c_539', 3),
 ('c_726', 4),
 ('c_344', 2),
 ('c_818', 3),
 ('c_541', 1),
 ('c_354', 2),
 ('c_336', 1),
 ('c_232', 3),
 ('c_135', 2),
 ('c_809', 4),
 ('c_409', 3),
 ('c_527', 3),
 ('c_441', 2),
 ('c_844', 3),
 ('c_621', 2),
 ('c_64', 4),
 ('c_971', 2),
 ('c_846', 2),
 ('c_6', 4),
 ('c_976', 4),
 ('c_442', 2),
 ('c_326', 2),
 ('c_888', 4),
 ('c_144', 3),
 ('c_736', 3),
 ('c_790', 1),
 ('c_983', 1),
 ('c_582', 3),
 ('c_295', 3),
 ('c_590', 2),
 ('c_988', 1),
 ('c_79', 1),
 ('c_697', 3),
 ('c_421', 3),
 ('c_358', 1),
 ('c_868', 4),
 ('c_371', 4),
 ('c_247', 4),
 ('c_119', 4),
 ('c_642', 3),
 ('c_446', 1),
 ('c_51', 4),
 ('c_959', 1),
 ('c_867', 3),
 ('c_555', 1),
 ('c_210', 3),
 ('c_295', 1),
 ('c_282', 3),
 ('c_982', 2),
 ('c_962', 3),
 ('c_883', 4),
 ('c_591', 1),
 ('c_249', 4),
 ('c_886', 2),
 ('c_323', 4),
 ('c_903', 2),
 ('c_665', 4),
 ('c_517', 3),
 ('c_573', 4),
 ('c_320', 2),
 ('c_959', 2),
 ('c_551', 4),
 ('c_625', 4),
 ('c_357', 4),
 ('c_11', 4),
 ('c_144', 4),
 ('c_266', 3),
 ('c_893', 3),
 ('c_438', 3),
 ('c_298', 1),
 ('c_898', 3),
 ('c_726', 3),
 ('c_458', 3),
 ('c_942', 4),
 ('c_453', 3),
 ('c_603', 3),
 ('c_122', 2),
 ('c_12', 2),
 ('c_313', 1),
 ('c_148', 1),
 ('c_146', 2),
 ('c_214', 4),
 ('c_454', 1),
 ('c_414', 2),
 ('c_900', 4),
 ('c_517', 4),
 ('c_382', 1),
 ('c_606', 3),
 ('c_482', 1),
 ('c_547', 3),
 ('c_836', 1),
 ('c_209', 2),
 ('c_21', 3),
 ('c_960', 2),
 ...]