# 前処理大全 SQL版

## はじめに
- データベースはPostgreSQL13です
- 初めに以下のセルを実行してください
- セルに %%sql と記載することでSQLを発行することができます
- jupyterからはdescribeコマンドによるテーブル構造の確認ができないため、テーブル構造を確認する場合はlimitを指定したSELECTなどで代用してください
- 使い慣れたSQLクライアントを使っても問題ありません（接続情報は以下の通り）
  - IPアドレス：Docker Desktopの場合はlocalhost、Docker toolboxの場合は192.168.99.100
  - Port:5432
  - database名: dsdojo_db
  - ユーザ名：padawan
  - パスワード:padawan12345
- 大量出力を行うとJupyterが固まることがあるため、出力件数は制限することを推奨します（設問にも出力件数を記載）
    - 結果確認のために表示させる量を適切にコントロールし、作業を軽快にすすめる技術もデータ加工には求められます
- 大量結果が出力された場合は、ファイルが重くなり以降開けなくなることもあります
    - その場合、作業結果は消えますがファイルをGitHubから取り直してください
    - vimエディタなどで大量出力範囲を削除することもできます
- 名前、住所等はダミーデータであり、実在するものではありません

In [2]:
%load_ext sql
import os

pgconfig = {
    'host': 'db',
    'port': os.environ['PG_PORT'],
    'database': os.environ['PG_DATABASE'],
    'user': os.environ['PG_USER'],
    'password': os.environ['PG_PASSWORD'],
}
dsl = 'postgresql://{user}:{password}@{host}:{port}/{database}'.format(**pgconfig)

# MagicコマンドでSQLを書くための設定
%sql $dsl

'Connected: padawan@dsdojo_db'

# 演習問題

---
> サンプル

In [3]:
%%sql
SELECT * FROM reserve_tb LIMIT 10;

 * postgresql://padawan:***@db:5432/dsdojo_db
10 rows affected.

[('r1', 'h_75', 'c_1', datetime.datetime(2016, 3, 6, 13, 9, 42), datetime.date(2016, 3, 26), '10:00:00', datetime.date(2016, 3, 29), 4, 97200),
 ('r2', 'h_219', 'c_1', datetime.datetime(2016, 7, 16, 23, 39, 55), datetime.date(2016, 7, 20), '11:30:00', datetime.date(2016, 7, 21), 2, 20600),
 ('r3', 'h_179', 'c_1', datetime.datetime(2016, 9, 24, 10, 3, 17), datetime.date(2016, 10, 19), '09:00:00', datetime.date(2016, 10, 22), 2, 33600),
 ('r4', 'h_214', 'c_1', datetime.datetime(2017, 3, 8, 3, 20, 10), datetime.date(2017, 3, 29), '11:00:00', datetime.date(2017, 3, 30), 4, 194400),
 ('r5', 'h_16', 'c_1', datetime.datetime(2017, 9, 5, 19, 50, 37), datetime.date(2017, 9, 22), '10:30:00', datetime.date(2017, 9, 23), 3, 68100),
 ('r6', 'h_241', 'c_1', datetime.datetime(2017, 11, 27, 18, 47, 5), datetime.date(2017, 12, 4), '12:00:00', datetime.date(2017, 12, 6), 3, 36000),
 ('r7', 'h_256', 'c_1', datetime.datetime(2017, 12, 29, 10, 38, 36), datetime.date(2018, 1, 25), '10:30:00', datetime.date(2018, 1, 28), 1, 103500),
 ('r8', 'h_241', 'c_1', datetime.datetime(2018, 5, 26, 8, 42, 51), datetime.date(2018, 6, 8), '10:00:00', datetime.date(2018, 6, 9), 1, 6000),
 ('r9', 'h_217', 'c_2', datetime.datetime(2016, 3, 5, 13, 31, 6), datetime.date(2016, 3, 25), '09:30:00', datetime.date(2016, 3, 27), 3, 68400),
 ('r10', 'h_240', 'c_2', datetime.datetime(2016, 6, 25, 9, 12, 22), datetime.date(2016, 7, 14), '11:00:00', datetime.date(2016, 7, 17), 4, 320400)]